.aboutme{
  position :relative;
  height: 90vh;
  width: 100%;
  background-image : url(../images/home.jpg);
  background-size: cover;
}

/* Teint the background picture */
.aboutme::after {
  content: " ";
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}

.aboutme .content {
  position: absolute;
  top: 15%;
  left: 12%;
  z-index:3px;
}

.aboutme .content p {
  color: #499693 ;
  font-family: 'Arvo' ;
  font-size: 2.8em;
}

.aboutme .content b {
  color: #499693;
  font-style: bold;
}
